{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block title %} 
  Sign up
{% endblock title %}


{% block content %}
  <h1>Sign up</h1>
  {% block messages %}
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
  {% endblock messages %}
  <form id="login_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="input-field">
      {{form.email}}
    </div>

    <div class="input-field">
      {{form.fullname}}
    </div>

    <div class="input-field">
      {{form.phone_no}}
    </div>

    <div class="input-field">
      Get Important Notifications <br> On WhatsApp
      {{form.sameasphone}}
    </div>

    <div class="input-field">
      {{form.password1}}
    </div>
  
    {% if redirect_field_value %}
    
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    
    {% endif %}
    
    <div class="input-field">
      <button  class="btn btn-blue-affiliatewrap btn-effect" type="submit">{% trans "Sign up" %}</button>
    </div>
    <p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Log in</a>.{% endblocktrans %}</p>
  </form>
{% endblock content %}