<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Admin Dashboard {% load static %} </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <!-- Favicon icon -->
      <link rel="icon" href='{% static "assets/images/favicon.ico" type="image/x-icon" %}'>
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href='{% static "assets1/icon/themify-icons/themify-icons.css" %}'>
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href='{% static "assets1/icon/icofont/css/icofont.css" %}'>
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href='{% static "assets1/css/style.css" %}'>
      <link rel="stylesheet" type="text/css" href='{% static "assets1/css/jquery.mCustomScrollbar.css" %}'>
  </head>

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
               
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                   
                                    
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>

                                        <div class="card-header-right">
                                            <i class="icofont icofont-spinner-alt-5"></i>
                                        </div>

                                    </div>
                                   {% for i in objj %}
                                    
                                    <div class="card-block">
                                        <form method = "POST"> {% csrf_token %}
                                           <h2>Kindergarten Studio</h2>
                                           <br>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Full  (3 Terms)</label>
                                                    <input type="text" class="form-control" name="fullYear_kindergarten"
                                                   value={{i.fullYear_kindergarten}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="TaxfullYear_kindergarten" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Vijayadasami  (2 Terms)</label>
                                                    <input type="text" class="form-control" name="fall_kindergarten"
                                                   value={{i.fall_kindergarten}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxfall_kindergarten" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Spring (1 Term)</label>
                                                    <input type="text" class="form-control" name="spring_kindergarten"
                                                   value={{i.spring_kindergarten}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxspring_kindergarten" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <br><br>
                                            <h2>Lower Elementary Studio</h2>
                                            <br><br>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Full  (3 Terms)</label>
                                                    <input type="text" class="form-control" name="fullYear_lowerElementary"
                                                   value={{i.fullYear_lowerElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="TaxfullYear_lowerElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Vijayadasami  (2 Terms)</label>
                                                    <input type="text" class="form-control" name="fall_lowerElementary"
                                                   value={{i.fall_lowerElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxfall_lowerElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Spring (1 Term)</label>
                                                    <input type="text" class="form-control" name="spring_lowerElementary"
                                                   value={{i.spring_lowerElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxspring_lowerElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <br><br>
                                            <h2>Upper Elementary Studio</h2>
                                            <br><br>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Full  (3 Terms)</label>
                                                    <input type="text" class="form-control"   name="fullYear_UpperElementary"
                                                   value={{i.fullYear_UpperElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="TaxfullYear_UpperElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Vijayadasami  (2 Terms)</label>
                                                    <input type="text" class="form-control" name="fall_UpperElementary"
                                                   value={{i.fall_UpperElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxfall_UpperElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="col-sm-6 col-form-label"> Spring (1 Term)</label>
                                                    <input type="text" class="form-control" name="spring_UpperElementary"
                                                   value={{i.spring_UpperElementary}} >
                                                </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label class="col-sm-6 col-form-label">Subscription</label>
                                                       
                                                        <select name="Taxspring_UpperElementary" class="form-control" required>
                                                            <option value="5" >5% </option>
                                                            <option value="10" >10% </option>  
                                                            <option value="15">15% </option>
                                                           
                                                        </select>
                                                    </div>
                                                
                                            </div>
           
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </form>
                                   {% endfor %}
                                    </div>
                                            </div>
         
                                
                                            <!-- Main-body end -->
                                            <div id="styleSelector">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


        <script type="text/javascript" src='{% static "assets1/js/jquery/jquery.min.js" %}'></script>
        <script type="text/javascript" src='{% static "assets1/js/jquery-ui/jquery-ui.min.js" %}'></script>
        <script type="text/javascript" src='{% static "assets1/js/popper.js/popper.min.js" %}'></script>
        <script type="text/javascript" src='{% static "assets1/js/bootstrap/js/bootstrap.min.js" %}'></script>
        <!-- jquery slimscroll js -->
        <script type="text/javascript" src='{% static "assets1/js/jquery-slimscroll/jquery.slimscroll.js" %}'></script>
        <!-- modernizr js -->
        <script type="text/javascript" src='{% static "assets1/js/modernizr/modernizr.js" %}'></script>
        <script type="text/javascript" src='{% static "assets1/js/modernizr/css-scrollbars.js" %}'></script>
        <!-- classie js -->
        <script type="text/javascript" src='{% static "assets1/js/classie/classie.js" %}'></script>
        <!-- Custom js -->
        <script type="text/javascript" src='{% static "assets1/js/script.js" %}'></script>
        <script src='{% static "assets1/js/pcoded.min.js" %}'></script>
        <script src='{% static "assets1/js/demo-12.js" %}'></script>
        <script src='{% static "assets1/js/jquery.mCustomScrollbar.concat.min.js" %}'></script>

</body>

</html>                