{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load static %}

<section id="portfolio">
    <div class="container">
        <div class="row">
        
            <div class="sec-title text-center wow animated fadeInDown">
                <h2>Geekz Gala</h2>
                <p>Leading Lines of the Campus Countenance</p>
            </div>
            

            <ul class="project-wrapper wow animated fadeInUp">
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Swimming%20Lawn.jpg' %}" class="img-responsive" alt="">
                   
                </li>
                <div class="text"> Geekz Microschool </div>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Flipped%20Classroom.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Flipped Classroom</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Flipped Classroom" href="{% static 'img/portfolio/Flipped%20Classroom.jpg' %}" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Library.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Library</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Library" data-fancybox-group="works" href="{% static 'img/portfolio/Library.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/3D%20Printing.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>3D Printing</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="3D Printing" data-fancybox-group="works" href="{% static 'img/portfolio/3D%20Printing.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Dot%20&%20Dash%20Robot.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Robotics</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Robotics" data-fancybox-group="works" href="{% static 'img/portfolio/Dot%20&%20Dash%20Robot.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Gym.jpeg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Gym</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Gym" data-fancybox-group="works" href="{% static 'img/portfolio/Gym.jpeg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Art.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Art</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Art" data-fancybox-group="works" href="{% static 'img/portfolio/Art.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Science%20Lab.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Science Lab</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Science Lab" data-fancybox-group="works" href="{% static 'img/portfolio/Science%20Lab.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Office.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Office</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Office" data-fancybox-group="works" href="{% static 'img/portfolio/Office.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Kitchen%20Play%20Set.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Kitchen</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Kitchen" data-fancybox-group="works" href="{% static 'img/portfolio/Kitchen%20Play%20Set.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Ball%20Pool.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Ball Pool</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Ball Pool" data-fancybox-group="works" href="{% static 'img/portfolio/Ball%20Pool.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/VR.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Virtual Reality</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Virtual Reality" data-fancybox-group="works" href="{% static 'img/portfolio/VR.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/3D%20Pen.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>3D Pen</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="3D Pen" data-fancybox-group="works" href="{% static 'img/portfolio/3D%20Pen.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/3D%20Print.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>3D Print</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="3D Print" data-fancybox-group="works" href="{% static 'img/portfolio/3D%20Print.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Play%20Area.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Play Area</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Play Area" data-fancybox-group="works" href="{% static 'img/portfolio/Play%20Area.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Crafting%20Ganesha.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Ganesha Crafting</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Ganesha Crafting" data-fancybox-group="works" href="{% static 'img/portfolio/Crafting%20Ganesha.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Pottery.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Pottery</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Pottery" data-fancybox-group="works" href="{% static 'img/portfolio/Pottery.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
                <li class="portfolio-item">
                    <img src="{% static 'img/compImages/Bon%20Fire%20Tales.jpg' %}" class="img-responsive" alt="">
                    <figcaption class="mask">
                        <h3>Bonfire Tales</h3>
                        <!--p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p-->
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Bonfire Tales" data-fancybox-group="works" href="{% static 'img/portfolio/Bon%20Fire%20Tales.jpg' %}"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
                
            </ul>
            
        </div>
    </div>
</section>
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
		
    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js"></script>
{% endblock %}

{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                
                <div class="footer-social">
                    <ul>
                        <style>
                            .footer-social ul li a:hover {
                                color: white;
                            }
                        </style>
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-facebook fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com/vrgeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-instagram fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" style="background-color: inherit;"><i class="fa fa-youtube-play fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://twitter.com/VrGeekz" target="_blank" style="background-color: inherit;"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <!-- <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://thegeekstudio.wordpress.com/" target="_blank" style="background-color: inherit;"><i class="fa fa-rss fa-3x"></i></a></li> -->
                    </ul>
                </div>
                
                <p>Copyright &copy; 2020 by Geekz. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}