{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Geekz Microschool Velachery | Geekz School-as-a-Service</title>		
		<!-- Meta Description -->
        <meta name="description" content="Geekz Affiliates List.">
        <meta name="keywords" content="geekz, geeks, school, reimagined school, alternate school, international, velachery, chennai, india, personalized, curriculum, self paced, learning, mastery, khan academy, duolingo, Microsoft, Program Manager, application, apply, micro-school, microschool, micro school, micro">
        <meta name="author" content="Geekz Microschool">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS
		================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		
		
		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
        
<!--        Tab logo-->
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        
    </head>
    
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-logo">
						<a href="http://www.geekz.school" style="color:#fff;">
                            <img src="{% static 'img/Geekz%20Logo.png' %}" height="70" style="position:relative;bottom:0px;" title="Geekz Microschool"><span style="position:relative;top:11px;" title="Geekz Microschool"></span>
                        </a>
					</h1>
					<!-- /logo -->
                </div>
                
                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class= "nav navbar-tabs">
                        <li><a href="#body">Home</a></li>
<!--                        <li><a href="#service">Education</a></li>-->
<!--                        <li><a href="#admissions">Admissions</a></li>-->
<!--                        <li><a href="#testimonials">About</a></li>-->
<!--                        <li><a href="#">Careers</a></li>-->
                        <li><a href="#footer">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
                
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        <style>
           
            * {
              box-sizing: border-box;
            }
            
            form.example input[type=text] {
              padding: 10px;
              font-size: 17px;
              border: 1px solid #ececec;
              float: left;
              width: 80%;
              background: white;
            }
            form.example input[type=text]:hover{
                border: 2px solid #008ECC;
            }
            
            form.example button {
              float: left;
              width: 20%;
              padding: 10px;
              background: #2196F3;
              color: white;
              font-size: 17px;
              border: 2px solid #008ECC;
              border-left: none;
              cursor: pointer;
            }
            
            form.example button:hover {
              background: #0b7dda;
            }
            
            form.example::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>  
		<main class="site-content" role="main">
           
			
			<!-- Affiliates section -->
			
			<section id="affiliates">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Geekz Affiliates</h2>
							<p>Leading Lines of the Campus Countenance</p>
						</div>
						
                    
                        <!-- Code for creating affiliates slideshow -->
                        
                        <ul class="project-wrapper wow animated fadeInUp">
							{% for m  in cards_obj %}
							   {% for k in m %}
							<li class="portfolio-item" >    
                                <!-- Slideshow container -->
                                <div class="Container" >

                                    <!-- Full-width images with number and caption text -->
                                  <!--  <div class="project-wrapper wow animated fadeInUp">
                                        <div class="portfolio-item-affiliates affCampusSlides"> -->
                                    <div>   
										<img src="{{k.BANNER1.url}}"style="width:100%">
                                           
                                    </div>
                                      
                                <br><br>
                            <i style="color:#FF385C;" class="fas fa-star filled"></i> 5.0(30)  
							<a href ="microschool/{{k.LOCALITY}}" style="text-decoration: none;" > <div class="text"> {{k.SCHOOL_NAME}} </div> </a>	
                            </div>
                            </li>
							{% endfor %}
							 {% endfor %}
        
                    </ul>
                    
                      
					</div>

			</section>
            
            
			<!-- end Affiliates section -->
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						<div class="wow animated fadeInDown">
<!--							<p>Let's be a Family!</p>-->
                            <p></p>
                            <address class="contact-details">
                            <p><i class="fa fa-pencil"></i>Geekz Microschool Velachery Chennai<br><i class="fa fa-envelope"></i>hello@geekz.school</p>
                            <p><i class="fa fa-phone"></i>+91 98842 GEEKZ</p>
<!--							<p>Don't worry, We don't spam family!</p>-->
                            </address>
						</div>

						<form id="subscribemail" action="javascript:postEmailToGoogle()" method="post" class="subscribe-form wow animated fadeInUp">
							<div class="input-field">
								<input type="email" id="Email" class="subscribe form-control" placeholder="Enter Your Email..." required>
								<button type="submit" class="submit-icon">
									<i class="fa fa-paper-plane fa-lg"></i>
								</button>
                                <span id="subscribed" style="width:100px"></span>
							</div>
						</form>

						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/VrGeekz" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.linkedin.com/company/16195019" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
<!--								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#" target="_blank"><i class="fa fa-youtube fa-3x"></i></a></li>-->
                                <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://thegeekstudio.wordpress.com/" target="_blank"><i class="fa fa-rss fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; 2017 by Geekz. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>