{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load static %}
<div class="section">
     <div class="contents_header">
    <h2 class="animated fadeInDown"><b style="color:#FF0000">American</b> School</h2>
    <br>
    <span style="color:white;" class="animated fadeInDown">Internationally affiliated to | <b style="color:#FF0000">US Curriculum</b></span>
   <!-- <a href="#portfolio" class="btn btn-blue btn-effect">Gala</a> -->
    <!--Day At geekz Video -->
    <br><br><br>
    <link href="assets/img/favicon.png" rel="icon">
    <a href="/schoolasaservice" class ="btn btn-blue btn-effect buttongeekzhome">School as a Service</a><br><br>
    
    <a href="/homeschool" class ="btn btn-blue btn-effect buttongeekzhome">Homeschool</a><br><br>
    <a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" class ="btn btn-blue btn-effect buttongeekzhome">Geekz Curriculum</a>
     </div>

        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src='{% static "img/geekz_video.mp4" type="video/mp4" %}'>
            </video>
        </div>

</div>
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
		 <script>
			  document.addEventListener('DOMContentLoaded', () => {
				  const player = Plyr.setup('.js-player');
			  });
		  </script>		
<div class="container">
    <br>
    <div class="sec-title text-center wow animated fadeInDown">
        <h2>Geekz Videos</h2>
    </div>
     <div  class="row">
         <div class="col-md-6">
            <div style="width:100px;height:100px;"class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="hj6iaKZSllg"></div> 
         </div>
         <div class="col-md-6">
            <div style="width:100px;height:100px;"class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="HKahHEfFmxI"></div> 
         </div>      
     </div>    
     <br>         
    <div class="row">    
         <div class="col-md-6">
           <div style="width:100px;height:100px;"class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="IGWIM1Ru4FA"></div> 
        </div>
        <div class="col-md-6">
           <div style="width:100px;height:100px;"class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="mHlpD27QFrM"></div> 
        </div>   
    </div>
    <br>
</div>
    
<style>

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section .contents_header {
  text-align: center;
  font-size: 6rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

    video {
  object-fit: cover;
  width:100%;
  min-height:100%;
}


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container h1{
    padding:60x 0;
    color:black;
    font-size:44x;
    text-align:center;   
}


.feature-img{
    
    border-radius:6px;
    
}


</style>


<section id="about" >
    <!--				<div class="container">-->
    <!--					<div class="row">-->
    <!--
                        <div class="col-md-4 wow animated fadeInLeft">
                            <div class="recent-works">
                                <h3>Recent Works</h3>
                                <div id="works">
                                    <div class="work-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    </div>
                                    <div class="work-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    </div>
                                    <div class="work-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    -->
    <!--						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">-->
                            <div class="welcome-block text-center">
                                <h3>Dreams of Education!</h3>								
                                  <div class="message-body" style="align:center;">
    <!--									<img src="{% static 'img/future.jpg' %}" class="pull-left" alt="member">-->
                                     <p style="color:#000;font-size:16px;">Do you believe schools changed very little over 100 years?<br>Do you believe we should prepare each child for the world they're expected to be in future?<br>Do you believe helping kids learn life is more important than textbook?<br><br>Then perhaps <b>Geekz Microschool</b> is for <b>you</b> and <b>your family</b>.</p><br><br><p style="font-size:20px;"><b>Together let's prepare our kids to be ready for the world in 2040!</b> </p>
                                  </div>
                                   <a href="/apply" target="_blank" class="btn btn-border btn-effect">Apply Now</a>
                            </div>
    <!--						</div>-->
    <!--					</div>-->
    <!--				</div>-->
            </section>

            <section id="service">
                <div class="container">
                    <div class="row" style="height:500px;">
                    
                        <div class="sec-title text-center">
                            <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                            <p class="wow animated bounceInRight">Education reimagined.</p>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <h3>Personalized</h3>
                                <p>Custom made curriculum for each individual's needs, learning styles, passions, skill levels & parental priorities.</p>
                            </div>
                        </div>
                    
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-globe fa-3x"></i>
                                </div>
                                <h3>Real World Career</h3>
                                <p>To bridge the gap between school & real world, we pick real life careers, integrate with core curriculum, simulate in our studio & empower students to be ready for the world in 2040. </p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-heart fa-3x"></i>
                                </div>
                                <h3>Passion</h3>
                                <p>No 2 brains are same. We find the passion of each student, integrate it with their subjects, make them curious & empower them learn.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-tablet fa-3x"></i>
                                </div>
                                <h3>1:1 Device</h3>
                                <p>Technology can never replace educators but integrating it in classroom enhances the education experience. </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
    <!--Second set of features for the school-->
                <div class="container">
                    <div class="row" style="height:320px;">
                    
    <!--
                        <div class="sec-title text-center">
                            <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                            <p class="wow animated bounceInRight">Education re-imagined.</p>
                        </div>
    -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-clock-o fa-3x"></i>
                                </div>
                                <h3>Self Paced</h3>
                                <p>One-size-fits-all don't fit in education. Each student can learn at their own pace to become individual lifelong learners.</p>
                            </div>
                        </div>
                    
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-graduation-cap fa-3x"></i>
                                </div>
                                
                                <h3>Mastery Learning</h3>
                                <p>Every student reach a prescribed degree of mastering a concept before advancing to the next concept.</p>							
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-trophy fa-3x"></i>
                                </div>
                                <h3>Assessment</h3>
                                <p>We montior each students' progress real time, create learner profile, analyze & calibrate them against mastery level of their personal goals.</p>
                            </div>
                        </div>
                    
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-university fa-3x"></i>
                                </div>
                                <h3>Flipped Classroom</h3>
                                <p>Watch short video lectures as homework. Practice problems at school with educators' help.</p>
                            </div>
                        </div>
                    
                        
                        
                    </div>
                    <br>
                    
                </div>
                <div class="container">
                    <div class="row" style="height:250px;">
                    
    <!--
                        <div class="sec-title text-center">
                            <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                            <p class="wow animated bounceInRight">Education re-imagined.</p>
                        </div>
    -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-android fa-3x"></i>
                                </div>
                                <h3>STEM</h3>
                                <p>Inspire creativity and curiosity in the Robotics STEM education and beyond.</p>
                            </div>
                        </div>
                    
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-group fa-3x"></i>
                                </div>
                                
                                <h3>Mixed Age</h3>
                                <p>Kids with varying ages learn together to be independent, bold & experience real world in our classroom.</p>							
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-lightbulb-o fa-3x"></i>
                                </div>
                                <h3>Entrepreneurship</h3>
                                <p>Integrated in daily lesson plans. School is the safe ground to take informed risk, fail hard, learn and strive for greatness.</p>
                            </div>
                        </div>
                    
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                            <div class="service-item">
                                <div class="service-icon">
                                    <i class="fa fa-child fa-3x"></i>
                                </div>
                                <h3>Social-Emotional</h3>
                                <p>Whole-child approach to develop kids' mind, body and spirit with self-awareness, responsibility & clean habits.</p>							
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    
                </div>
            </section>
            <!-- end Service section -->
            <section id="about" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 wow animated fadeInLeft">
                            <div class="recent-works">
                                <h3>Our Approach</h3>
                                <div id="works">
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Personalize</p><br>
                                        <p>A whole-child, personalized education supports each student as an individual learner. We tailor our students learning materials that fit each individual's needs, learning styles, passion, interests, skill levels, parental priorities and specific tasks educators feel will best challenge & prepare child to succeed.<br><br>Say we are helping kids learn a Math lesson. For a student who is interested in Xbox games, we integrate Math in Minecraft. They play as well as learn how math practically used in real life. We help all our students learn the same lesson - in different ways.</p>
                                    </div>
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Wonder</p><br>
                                        <p>Teachers engage students with provocations or essential questions that need to be answered. This gives students a purpose and an awareness of knowledge they want to understand, skills they want to develop, or new interests to explore.<br><br>You can teach students a lesson for few days but if you can help them learn by tapping their curiosity, they will continue the learning process as long as they live and become lifelong learners.</p>
                                    </div>
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Inquire</p><br>
                                        <p>This is the phase where students focus their time on the process of learning. Students investigate the topic through an inquiry-driven research process, building their knowledge of a subject area, applying thinking strategies for tackling challenging problems, and developing habits.<br><br>We use U.S curriculum, partnering with Acton Academy at Austin Texas USA to learn core skills and our education approach is based on Chicago's 1919 Winnetka education model for a child-centered personalized social-emotional learning.</p>
                                    </div>
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Mastery</p><br>
                                        <p>Every student practice and reach a prescribed degree of mastering a concept before advancing to the next concept.<br><br>Learning is structured not in terms of time but in terms of certain target levels the student achieve. This is not 21st century idea, back in 1919 Washburne introduced this concept part of Winnetka Plan. He was advocating the opposite to then and now traditional model. What should be fixed is a high level of comprehension and what need to be variable is the amount of time students have to understand a concept.</p>
                                    </div>
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Reflect</p><br>
                                        <p>Students create an external representation of what they have learned, such as a piece of writing or building catapult. Demonstrating to an audience creates accountability and the motivation to complete challenges. Students then reflect on the learning process by asking if they answered the essential question of the unit and how they arrived at that answer.<br><br>A focus on reflection fosters a growth mindset and a culture of iteration, which allows students to take ownership over their own learning.</p>
                                    </div>
                                    <div class="work-item" style="text-align:justify;">
                                        <p style="font-size:18px;">Evaluate</p><br>
                                        <p>Real time assessment is essential to personalizing learning for students. With the help of 1:1 device, teachers montior each students' progress as they learn and provide feedback immediately to fuel engagement and growth.<br><br>Assessing Milestone achievement allows educators to understand students deeply by documenting and analyzing their performance against their personal Goals. Based on the mastery levels, curriculum will be customized and personal goals will be set for each student to keep iterating on the learning cycle.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                            <div class="welcome-block ">
                                <h3>Learning Cycle</h3>								
                                <h4 style="color:white;">Rate of Learning is 2.5x Faster in this Personalized Education Model!</h4><br>
                                  <div class="message-body" style="text-align:justify;">
                                    <img src="{% static 'img/LearningCycle.jpg' %}" style="height:auto;width:auto;max-width:300px;max-height:300px;display:block;margin:0 auto;" alt="learning cycle">
                                  </div>
                                   <a href="https://thegeekstudio.wordpress.com/2016/10/09/angry-birds-transdisciplinary-education/" target="_blank" class="btn btn-border btn-effect pull-right">Example from the Classroom</a>
    <!--
                                <div class="pull-right">&nbsp;&nbsp;&nbsp;</div>
                                <a href="#contact" class="btn btn-border btn-effect pull-right">Contact Us</a>
    -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end Learning Cycle section -->
             <!-- Technology section -->
        <section id="service">
            <div class="container">
                <div class="row" style="height:700px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Technology</h2>
                        <p class="wow animated bounceInRight">Transforms the school experience.<br><br>When purposefully used, technology enhances the education experience. By streamlining certain tasks, teachers can spend more quality time with students, schools and classrooms can run more efficiently, and parents can quickly and easily communicate with teachers. We believe technology can never replace human relationships or in-person learning. Instead, it is a tool to support the growth of each individual student.<br><br>Through Geekz tools, students manage their own projects and assignments, teachers personalize and assess student activities real time, and parents connect with their child’s learning experiences.<br><br><b>We use 3rd party apps wherever possible, if not build new apps with our top notch technologists to truly re-imagine schools.</b></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-qq fa-3x"></i>
                            </div>
                            <h3>Duolingo</h3>
                            <p>Learn foreign languages at your own pace.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-leaf fa-3x"></i>
                            </div>
                            <h3>Khan Academy</h3>
                            <p>Watch and practice math lessons.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-language fa-3x"></i>
                            </div>
                            <h3>Hello English</h3>
                            <p>Learn english using your regional lanugage.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-skype fa-3x"></i>
                            </div>
                            
                            <h3>Skype Classroom</h3>
                            <p>Connect with classrooms around the world, talk with NASA astronauts at space.</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            
<!--Second set of features for the school-->
            <div class="container">
                <div class="row" style="height:320px;">
                
<!--
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                        <p class="wow animated bounceInRight">Education re-imagined.</p>
                    </div>
-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-windows fa-3x"></i>
                            </div>
                            <h3>Minecraft</h3>
                            <p>Learn through playing games.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-list-ul fa-3x"></i>
                            </div>
                            <h3>Backlog</h3>
                            <p>Educators curate personalized list of lessons for each student to learn, track and asses.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-weixin fa-3x"></i>
                            </div>
                            <h3>Messenger</h3>
                            <p>Parents communicate with educators, track their child's progress & school's news.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-newspaper-o fa-3x"></i>
                            </div>
                            
                            <h3>Newsela</h3>
                            <p>Builds reading comprehension with daily news articles.</p>							
                        </div>
                    </div>
                    
                </div>
                <br>
                
            </div>
            <div class="container">
                <div class="row" style="height:200px;">
                
<!--
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                        <p class="wow animated bounceInRight">Education re-imagined.</p>
                    </div>
-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-lightbulb-o fa-3x"></i>
                            </div>
                            <h3>Brainpop</h3>
                            <p>Short animated movies for k-12 lessons.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-krw fa-3x"></i>
                            </div>
                            <h3>Wix</h3>
                            <p>Build & host websites and blogs.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-windows fa-3x"></i>
                            </div>
                            <h3>Onenote</h3>
                            <p>The digital note-taking app for your devices.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-android fa-3x"></i>
                            </div>
                            
                            <h3>Dot & Dash</h3>
                            <p>Inspire creativity and curiosity in the Robotics.</p>							
                        </div>
                    </div>
                    
                </div>
                <br>
                
            </div>
        </section>
        <!-- end Technology section -->
        <!-- About section -->
        <section id="testimonials" class="parallax">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="sec-title text-center white wow animated fadeInDown">
                            <h2>About</h2>
                        </div>
                        
                        <div id="testimonial" class=" wow animated fadeInUp">
                            
                            <div class = "container">
                               
                             <div class ='row'>
                           {% for i in id1 %}
                           <div class="col-md-4 text-center" >

                                <div class="card">
                                  <div class="card-header"></div>
                                  <div class="card-body"><span>&#8220;</span>{{i.feedback}}<span>&#8221;</span></div> 
                                  <div class="card-footer"><b style="color:#000;font-size:16px;">{{i.name}}</b></div>
                                </div>
                              </div>
                            
                           {% endfor %} 
                        </div>
                        </div>
                        </div>
                    
                    </div>
                </div>
            </dsiv>
        </section>
            <!-- jQuery -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js"></script>
   
{% endblock %}