{% extends 'base_new.html' %}
{% load static %}

{% block content %}
<section id="affiliates">
    <div class="container">
        <div class="row">
        
            <div class="sec-title text-center wow animated fadeInDown">
                <h2>Geekz Affiliates</h2>
                <p>School Reimagined</p>
                <br>

 </div>
 <div class="container">
     <div class="row">
         <div class="col-md-12">
            <div class="service-item">
                <center>
                <h3>Location not found</h3>
                <p>Please search Microschool Location </p><br>
                
            </div>
          
         </div>
         

     </div>

 </div>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script>
        window.onload = function() {
        
        document.getElementById("notify").style.display = "none";
        
        };
        function reasonform(a) {
        
        if (a == 1) {
            document.getElementById("notify").style.display = "block";
        } else {
            document.getElementById("notify").style.display = "none";
        }
            
        }
            
 </script>
{% endblock %}

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- Twitter Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Single Page Nav -->
<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
<!-- jquery.fancybox.pack -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<!-- Google Map API -->

<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- jquery easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Fullscreen slider -->
<script src="{% static 'js/jquery.slitslider.js' %}"></script>
<script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
<!-- onscroll animation -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Custom Functions -->
<script src="{% static 'js/main.js' %}"></script>