{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Become a Questschool | Geekz School-as-a-Service{% endblock title %}
{% block metadescription %}
    <meta name="description" content="Become a Questschool Guide, Conduct Geekz Quests Online or In-Person From The Convenience Of Your Home at Flexible Hours and Earn Attractively.">
{% endblock metadescription %}
{% block metakeywords %}
    <meta name="keywords" content="SAAS, School As A Service, Franchise, Affiliation, Affiliate, international school, Montessori, Preschool, Play School, IB School, Kindergarten, Primary School, IGCSE, ICSE, CBSE, Alternative School, Next Generation School, Play Groups, American School, geekz, geeks, school, reimagined school, international, velachery, chennai, personalized, personalised, curriculum, self paced, learning, mastery, khan academy, duolingo, Microsoft, Program Manager, Micro school, microschool, micro-school, alternate school, education, schoology, india,     Quest, Questschool, Quest School, Work From Home, WFH, Part Time Job, Jobs, Afterschool, After School">
{% endblock metakeywords %}
{% block metaauthor %}
    <meta name="author" content="Geekz Microschool">
{% endblock metaauthor %}






{% block content %}
<main class="site-content" role="main">
		
    <!--
    Home Slider
    ==================================== -->
    
    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">
                
               <!-- <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                    
                    <div class="bg-img bg-img-4"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 style="color:#FF0000;">Air Pollution Awareness Art Contest</h2>
                            <span>Go Green. Breathe Clean.</span>
                            <a href="AirPollutionArtContest.html" target="_blank" class="btn btn-blue btn-effect">Enroll</a>
                        </div>
                    </div>

                </div> -->
                
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

                    <div class="bg-img bg-img-3">
                    </div>

                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 class="animated fadeInDown"><b style="color:#FF0000">QUEST</b><b>SCHOOL</b></h2>
                            <span class="animated fadeInDown">Your Dream Job | <b style="color:#FF0000">To Earn At Your Own Pace</b></span>
                            {% if user.is_authenticated %}
                                <a href="/schoolasaservice/apply" class="btn btn-blue btn-effect">Become a Questschool</a>
                            {% else %}
                                <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Questschool</a>
                            {% endif %}

                            <!--login popup modal-->
                            <div id="loginms" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: white; width: 400px; height: 200px">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="text-align: center;">Log in</h4>
                                        </div>
        
                                        <div class="modal-body">
                                            <div class="input-field" style="width: 100%;">
                                                <a href="{% provider_login_url "google" %}" class="btn btn-blue-affiliatewrap btn-effect" style="width: 100%;">
                                                    <span>
                                                        <i class="fa fa-google"></i>
                                                    </span>
                                                    Continue with Google
                                                </a>
                                            </div>
                                            
                                            <div class="input-field" style="width: 100%; margin-top: 10px; text-align:center; color:black;">
                                                Don’t have an account?
                                                <a href data-dismiss="modal" data-toggle="modal" data-target="#signupms">Sign up</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end login popup modal-->

                            <!--start signup popup modal-->
                            <div id="signupms" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: white; width: 400px; height: 200px">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="text-align: center;">Sign up</h4>
                                        </div>
        
                                        <div class="modal-body">
                                            <div class="input-field" style="width: 100%;">
                                                <a href="{% provider_login_url "google" %}" class="btn btn-blue-affiliatewrap btn-effect" style="width: 100%;">
                                                    <span>
                                                        <i class="fa fa-google"></i>
                                                    </span>
                                                    Continue with Google
                                                </a>
                                            </div>
        
                                            <div class="input-field" style="width: 100%; margin-top: 10px; text-align:center; color:black;">
                                                Already have an account?
                                                <a href data-dismiss="modal" data-toggle="modal" data-target="#loginms">Log in</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end signup popup modal-->

                        </div>
                    </div>
                    
                </div>
                
            <!--	<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                
                    <div class="bg-img bg-img-1"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 style="color:#FF0000;">School As A Service (SAAS)</h2>
                            <span>We're accepting applications for the 2020-2021 school year in the following location:</span>
                            <a href="#admissions" class="btn btn-blue btn-effect">Velachery</a>
                        </div>
                    </div>
                    
                </div>
-->
            </div><!-- /sl-slider -->

            <!-- 
            <nav id="nav-arrows" class="nav-arrows">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>
            -->
            
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>
            

            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </section>
    
    <!--
    End Home SliderEnd
    ==================================== -->
        
        
        <!-- Why Affiliate section -->
        <section id="why">
            <div class="container">
                <div class="row" style="height:450px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">WHAT IS QUESTSCHOOL?</h2>
                        <p class="wow animated bounceInRight">Afterschool reimagined.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-university fa-3x"></i>
                            </div>
                            <h3>QUESTSCHOOL</h3>
                            <p align="justify">Questschool is an after school studio to empower kids aged 4.5 to 10 to find their passion & become a visionary, through hands-on Quests. Kids struggling in school curriculum will learn Science & Tech with flying colors through real world simulations.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-lightbulb-o fa-3x"></i>
                            </div>
                            <h3>QUEST</h3>
                            <p align="justify">We integrate real world careers such as Astronaut, Embedded Engineer, Aviator, YouTuber, Film Maker, Entrepreneur etc. in CBSE, ICSE, IB, Finland & US Common Core Science, Math, Technology, Coding, Robotics & IOT curriculum and simulate it in the studio as Quests (STEM).</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-heart fa-3x"></i>
                            </div>
                            <h3>PASSION</h3>
                            <p align="justify">Many kids hate to memorize science concepts. Instead of asking fish to climb the tree, Geekz find their passion through various hands-on Quests, integrate school curriculum in their passion & help them learn along with 21st century life skills by designing, building & experiencing it hands-on.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-rocket fa-3x"></i>
                            </div>
                            <h3>LAUNCHPAD</h3>
                            <p align="justify">Instead of doing Engineering due to external influence & regretting in the late 20s, kids can try 50+ hands-on Quests across 10 years from the age 5 to 14, find their passionate career by the age of 14, pick their high school career stream accordingly & launch to the real world.</p>
                        </div>
                    </div>
                
                </div>
            </div>
            
<!--Sign up-->
        <br><br><br><br><div class="sec-title text-center">
            <a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" class="btn btn-blue btn-effect wow animated bounceInLeft">Geekz Sample Quests</a>    
        </div>
        </section>
        <!-- end Why Affiliate section -->


        <!-- Service section -->
        <section id="service" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">WHY BECOME A GEEKZ QUESTSCHOOL?</h2>
                        <p class="wow animated bounceInRight">Career reimagined.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <h3>GEEKZ GUIDE</h3>
                            <p>Quit your career to take care of your kids? Fresher looking for a job? Launch your reimagined career as a Geekz Questschool Guide.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-home fa-3x"></i>
                            </div>
                            <h3>WORK FROM HOME</h3>
                            <p>Conduct Quests from the comfort of your home & provide high quality reimagined education to young Geekz.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-clock-o fa-3x"></i>
                            </div>
                            <h3>WORK HOURS</h3>
                            <p>You always get the flexibility to choose your Quest timings, days & hours per week.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-line-chart fa-3x"></i>
                            </div>
                            
                            <h3>EARN ATTRACTIVELY</h3>
                            <p>Geekz offer you the opportunity to earn more than the entry level software professionals. More the Quests. More your Earnings!</p>							
                        </div>
                    </div>
                    
                </div>
            </div>          
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/schoolasaservice/apply" class="btn btn-blue btn-effect">Become a Questschool</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Questschool</a>
                {% endif %}
            </div>  
        </section>
        <!-- end Service section -->



        <!-- Your School Your Rules section -->
        <section id="rules"  style="background-color:#ffffff;">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Your School, Your Rules!</h2>
                        <p>Unschooling the schooling.</p><br>
                        <p></p>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">ONLINE</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>24,35</span><br>
-->
                                <span>Conduct Quests online from anywhere in the world.</span>
                            </div>
<!--
                            <ul>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">IN-PERSON</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>50,00</span><br>
-->
                                <span>Few Quests are meant to be done at your studio (home) with human touch & kids love it (Post COVID).</span>
                            </div>
<!--
                            <ul>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s" style="height:250px;">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">BOTH</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>123,12</span><br>
-->
                                <span>You always get to choose your options. Choosing both online & in-person studio provides more Quests & Earnings.</span>
                            </div>
<!--
                            <ul>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                                    
                </div>
            </div>
        </section>
        <!-- end Your School Your Rules section -->

        <!-- Service section -->
        <section id="service" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">What Geekz Offer?</h2>
                        <p class="wow animated bounceInRight">Quest School-as-a-service (SaaS) delivered on-demand.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-lightbulb-o fa-3x"></i>
                            </div>
                            <h3>QUEST CURRICULUM</h3>
                            <p>Personalized Quests Coding, YouTuber, Filmmaker, Entrepreneurship for each individual's needs, learning styles, passions, skill levels & parental priorities.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                            <h3>TRAINING</h3>
                            <p>Dynamic EdTech platform providing Learning Apps, Best Practices & couple weeks of Training for efficient operations.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-bullhorn fa-3x"></i>
                            </div>
                            <h3>MARKETING</h3>
                            <p>Geekz digital ad campaigns on social media platforms will drive students to your Questschool.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-graduation-cap fa-3x"></i>
                            </div>
                            
                            <h3>CERTIFICATION</h3>
                            <p>Demonstrate your proficiency & get recognized for your expertise as Geekz Certified Early Childhood Expert.</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/schoolasaservice/apply" class="btn btn-blue btn-effect">Become a Questschool</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Questschool</a>
                {% endif %}
            </div>  
            
        </section>
        <!-- end Service section -->
        

        <!-- Service section -->
        <section id="service" style="background-color:#ffffff;">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">QUESTSCHOOL GUIDE REQUIREMENTS</h2>
                        <p class="wow animated bounceInRight">Be the change.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-heart fa-3x"></i>
                            </div>
                            <h3>PASSION</h3>
                            <p>Engaging kids is both fun & challenging. Must possess passion towards education & no shaming kids approach.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <h3>COMMUNICATION</h3>
                            <p>Top notch English speaking fluency is required & regional language command is preferred.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-line-chart fa-3x"></i>
                            </div>
                            <h3>GROWTH MINDSET</h3>
                            <p>Willingness to learn & grow on a daily basis such as coding, editing, logical & abstract thinking.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-home fa-3x"></i>
                            </div>
                            
                            <h3>STUDIO</h3>
                            <p>Well-lit disturbance-free bright space with ventilation. Chairs/sofa & table is required especially for in-person Questschool.</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            
<!--Second set of offers for the school-->
            <div class="container">
                <div class="row" style="height:320px; ">
                
<!--
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                        <p class="wow animated bounceInRight">Education re-imagined.</p>
                    </div>
-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-laptop fa-3x"></i>
                            </div>
                            <h3>MODERN DEVICE</h3>
                            <p>Strong visual & audio cues requires latest device with at least Mac OS 10.10x/Win 8, Intel Core i3, 4 GB RAM, HD Cam & Headset.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-wifi fa-3x"></i>
                            </div>
                            <h3>HIGH SPEED INTERNET</h3>
                            <p>Internet Connection With 20+ Mbps Speed & 1.5+ GB data package per day.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-bullhorn fa-3x"></i>
                            </div>
                            <h3>MARKETING</h3>
                            <p>Conduct free demo sessions for parents & students to book your Quests. Make your Questschool well known locally.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-thumbs-up fa-3x"></i>
                            </div>
                            
                            <h3>PROMISE</h3>
                            <p>Uphold Geekz brand value & high quality education while being punctual, presentable & avoid no show.</p>							
                        </div>
                    </div>
                    
                </div>
                <br>
                
            </div>
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/schoolasaservice/apply" class="btn btn-blue btn-effect">Apply</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Apply</a>
                {% endif %}
            </div>
        </section>
        <!-- end Service section -->
        

        <!-- Workflow section -->
        <section id="workflow" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">How It Works?</h2>
                        <p class="wow animated bounceInRight">Launching reimagined career made simple.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>BECOME A QUESTSCHOOL</h3>
                            <p>Get affiliated to be listed on Geekz. Student families can search your Questschool & apply.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>FREE QUEST TRIAL</h3>
                            <p>Conduct free demo sessions for parents & students to book your Quests.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>EMPOWER GEEKZ</h3>
                            <p>Successfully finish the Quest & empower students to find their passion.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            
                            <h3>SUCCESSFUL DREAM CAREER</h3>
                            <p>We've got you covered from launch to curriculum. You run your Quests, build successful Questschool career & get paid!</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </section>
        <!-- end Workflow section -->


        <!-- Social section -->
        <section id="social" class="parallax">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                    
                        <div class="sec-title text-center white wow animated fadeInDown">
                            <h2>FOLLOW US</h2>
                            <p>Dream with us and make dreams a reality.</p>
                        </div>
<!--                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FVrGeekz%2F%3Ffref%3Dts&width=20&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="200" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
                        
                        <ul class="social-button">
                            <li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" style="background-color: inherit; color:white;" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com/VrGeekz/" target="_blank" style="background-color: inherit; color:white;"><i class="fa fa-instagram fa-2x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" style="background-color: inherit; color:white;"><i class="fa fa-youtube-play fa-2x"></i></a></li>							
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- end Social section -->
        
        

        <!-- Your Process section -->
        <section id="process">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Affiliating In 3 Steps</h2>
                        <p>World's fastest affiliation for free.</p><br>
                        <p></p>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp">
                        
                        <div class="price-table featured text-center">
                            
                            <span style="height:85px;">1. Start Your Journey</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>24,35</span><br>
-->
                                <span>Sign up to Become a Questschool & list on Geekz.</span>
                            </div>
<!--
                            <ul>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.3s">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">2. GEEKZ AUDITION & Training</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>50,00</span><br>
-->
                                <span>Geekz will reach you quickly to audition, followed by training.</span>
                            </div>
<!--
                            <ul>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.6s" style="height:250px;">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">3. Welcome Your First Geek!</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>123,12</span><br>
-->
                                <span>Once your training is completed, listing will be live, students can reach out & enroll.</span>
                            </div>
<!--
                            <ul>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                                            
                </div>
                
            </div>
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/schoolasaservice/apply" class="btn btn-blue btn-effect">Become a Questschool</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Microschool</a>
                {% endif %}
            </div>
        </section>
        <!-- end Process section -->

        <!-- FAQ section -->
        <section id="service" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">FAQ</h2>
                        <p class="wow animated bounceInRight"><b>Does Questschool Conduct In-Person Quest?</b></p>
                        <p class="wow animated bounceInRight">Yes. Few Quests are meant to be done at Questschool studio (home) as they're powerful with human touch & kids love it. We're starting with Online and post COVID, we will do physical In-Person Quests as well.</p><br>
                        <p class="wow animated bounceInLeft"><b>What Should I Do To Host In-Person Quests In Future & Online Quests Now?</b></p>
                        <p class="wow animated bounceInLeft">While applying to Become a Questschool, choose "Both" online & in-person options for "School Mode Of Operation...". If you want to host only Online Quests ever, then go for "Online" option.</p><br>
                        <p class="wow animated bounceInRight"><b>How Does A Geekz Questschool Gets Students?</b></p>
                        <p class="wow animated bounceInRight">Through digital ad campaigns run by Geekz team on social media platforms & you making your Questschool well known locally. In both ways, key is the free trial. Conduct free demo class to allure parents & students registered for free trial.</p><br>
                        <p class="wow animated bounceInLeft"><b>What Is The Duration & Max Student Headcount Per Quest?</b></p>
                        <p class="wow animated bounceInLeft">Each Quest is 6 weeks, 2 classes a week & each class being 1 hour. Total 12 hours per Quest. Maximum 6 students per Quest with individually personalized as well as group team missions to simulate real life work environment.</p><br>
                        <p class="wow animated bounceInRight"><b>How Much Does A Questschool Guide Earn?</b></p>
                        <p class="wow animated bounceInRight">On successful completion of the Quest, you will be paid Rs 700 per student per Quest which will be direct-deposited to your bank account at the EOM. In general you will earn more than an entry level software professional. More Quests, More Earnings!</p><br>
                        <p class="wow animated bounceInLeft"><b>What Are The Best Hours For Questschool?</b></p>
                        <p class="wow animated bounceInLeft">In order to maximize your earnings, we recommend 4 to 8 PM on weekdays & all day weekends as peak student hours.</p><br>
                        <p class="wow animated bounceInRight"><b>How Much Time Is Required To Become A Questschool?</b></p>
                        <p class="wow animated bounceInRight">The minimum time commitment is 2 hours a week, one hour a day for 2 days a week as a Quest is 2 classes a week for 6 weeks.</p><br>
                        <p class="wow animated bounceInRight"><b>Do I Need Teaching Experience To Become A Questschool?</b></p>
                        <p class="wow animated bounceInRight">No experience or degree is required to become a Questschool. All you need is passion for education, empathy towards kids and growth mindset to learn new things on a daily basis with fluent communication.</p><br>
                        <p class="wow animated bounceInRight"><b>What If I Have An Emergency & Cannot Take The Class?</b></p>
                        <p class="wow animated bounceInRight">Geekz values commitment & punctuality but we can understand your emergency situations. Kindly communicate before 24 hours & reschedule your class to another day by end of the Quest with parents' consent. Reschedule only during real emergencies as parents will move out to other Questschools if this happens often. If you're a No-Show (no or less than 24 hours communication & reschedule) for a class, you'll forgo your class earnings as penalty and if it happens second time, we'll have to regretfully remove you from the platform.</p><br>
                        <p class="wow animated bounceInRight"><b>What Will Be My Agreement With Geekz?</b></p>
                        <p class="wow animated bounceInRight">You will be having terms & conditions to agree while applying to Become a Questschool such as upholding promises, responsibilities,  quality of education, not sharing, subleasing, replicating or reusing Geekz intellectual property, code of conduct, customer relationship, performance, studio maintenance and a mutual consent of termination with 6-week notice. You agree to Geekz terms & conditions on applying to Become a Questschool.</p><br>
                    </div>
                </div>
            </div>
        </section>
        <!-- end FAQ section -->
      
        
        
        
        
        <!-- Affiliate section -->
        <!--<section id="contact" >
            <div class="container">
                <div class="row">
                    
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Start Your Geekz Journey!</h2>
                        <p>Get affiliated. Welcome your first geek.</p>
                    </div>
                    
                    
                    <div class="col-md-7 contact-form wow animated fadeInLeft">
                        <p id="geekzsignup"></p>
                        <form id="signup" action="javascript:postAffiliateToGoogle()" method="post">
                            <h3><b>Affiliate Information</b></h3>
                            <div class="input-field">
                                <select id="IAm" class="form-control" required>
                                    <option selected disabled>I Am...</option>
                                    <option>Playschool</option>
                                    <option>K-5 School</option>
                                    <option>K-12 School</option>
                                    <option>Entrepreneur</option>
                                    <option>Parent</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <select id="LoveTo" class="form-control" required>
                                    <option selected disabled>Love To Affiliate...</option>
                                    <option>Elementary</option>
                                    <option>Microschool</option>
                                    <option>Homeschool</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <input type="text" id="City" class="form-control" placeholder="School Area & City..." required>
                            </div>
                            <div class="input-field">
                                <input type="text" id="AcademicYear" class="form-control" placeholder="School Website (No Website? Type 'Not Applicable')..." required>
                            </div>
                            <div class="input-field">
                                <input type="url" id="Studio" class="form-control" placeholder="School Facebook/Founder LinkedIn..." required>
                            </div>
                            <br>
                            <h3><b>Personal Information</b></h3>
                            <div class="input-field">
                                <input type="text" id="FullName" class="form-control" placeholder="Your Name..." required>
                            </div>
                            <div class="input-field">
                                <input type="text" id="Occupation" class="form-control" placeholder="Occupation..." required>
                            </div>
                            <div class="input-field">
                                <input type="email" id="AffiliateEmail" class="form-control" placeholder="Email..." required>
                            </div>
                            <div class="input-field">
                                <input type="number" id="AffiliatePhone" class="form-control" placeholder="Phone..." required>
                            </div>
                            <div class="input-field">
                                <select id="Branding" class="form-control" required>
                                    <option selected disabled>How Did You Hear About Geekz...</option>
                                    <option>Facebook</option>
                                    <option>Twitter</option>
                                    <option>Youtube</option>
                                    <option>Previous School Students/Families</option>
                                    <option>Geekz Students/Families</option>
                                    <option>Friend/Acquaintance</option>
                                    <option>Geekz Website</option>
                                    <option>Web Search</option>
                                    <option>Print Ad</option>
                                    <option>News Article</option>
                                </select>
                            </div>
                               <div class="input-field">
                                <textarea id="MoreInfo" class="form-control" placeholder="Why Do You Want To Affiliate With Geekz..." required></textarea>
                            </div>
                            <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                        </form>
                    </div>
                    
                    <div class="col-md-5 wow animated fadeInRight">
                        <address class="contact-details">
                            <h3>Contact Us</h3>						
<!--								<p><i class="fa fa-pencil"></i>Phoenix Inc.<span>PO Box 345678</span> <span>Little Lonsdale St, Melbourne </span><span>Australia</span></p><br>-->
                           <!-- <p><i class="fa fa-pencil"></i>Door No 21 Plot No 196<span>4th Street Murugu Nagar</span><span>Velachery Chennai</span></p><br>
                            <p><i class="fa fa-phone"></i>Phone: +91 98842 GEEKZ<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 98842 43359</span></p>
                            <p><i class="fa fa-envelope"></i>hello@geekz.school</p>
                        </address>
                    </div>
        
                </div>
            </div>
        </section>-->
        <!-- end Affiliate section -->
        
        
    
    </main>

{% endblock content %}

{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                
                <div class="footer-social">
                    <ul>
                        <style>
                            .footer-social ul li a:hover {
                                color: white;
                            }
                        </style>
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-facebook fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com/vrgeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-instagram fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" style="background-color: inherit;"><i class="fa fa-youtube-play fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://twitter.com/VrGeekz" target="_blank" style="background-color: inherit;"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <!-- <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://thegeekstudio.wordpress.com/" target="_blank" style="background-color: inherit;"><i class="fa fa-rss fa-3x"></i></a></li> -->
                    </ul>
                </div>
                
                <p>Copyright &copy; 2020 by Geekz. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}