{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Geekz Microschool Velachery | Geekz School-as-a-Service</title>		
		<!-- Meta Description -->
        <meta name="description" content="Your school to Learn Life at your own pace with Personalized Curriculum tailored for each Individual Kid.">
        <meta name="keywords" content="Homeschool, SAAS, School As A Service, Franchise, Affiliation, Affiliate, international school, Montessori, Preschool, Play School, IB School, Kindergarten, Primary School, IGCSE, ICSE, CBSE, Alternative School, Next Generation School, Play Groups, American School, geekz, geeks, school, reimagined school, international, velachery, chennai, personalized, personalised, curriculum, self paced, learning, mastery, khan academy, duolingo, Microsoft, Program Manager, Micro school, microschool, micro-school, alternate school, education, schoology, india">
        <meta name="author" content="Geekz Microschool">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS
		================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">	
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link href="{% static 'lity-2.4.1/dist/lity.css' %}" rel="stylesheet">
		<script src="{% static 'lity-2.4.1/vendor/jquery.js' %}"></script>
		<script src="{% static 'lity-2.4.1/dist/lity.js' %}"></script>
		<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
		<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
		
		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
        
<!--        Tab logo-->
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        
    </head>
    
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
  <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header" style="width:100%" >
      <div class="container" align="center">
        <div class="row">
      <div class="col-md-2" >
          <div class="navbar-header">
              <!-- responsive nav button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
              </button>
    <!-- /responsive nav button -->
    
    <!-- logo -->
    <h1 class="navbar-logo">
      <a href="index.html" style="color:#fff;">
                      <img src="{% static 'img/Geekz%20Logo.png' %}" height="70" style="position:relative;bottom:0px;" title="Geekz Microschool" alt="Geekz Microschool"><span style="position:relative;top:11px;" title="Geekz Microschool"></span>
                  </a>
    </h1>
    <!-- /logo -->
          </div></div>

  <!-- main nav -->
  <div class="col-md-6">
          <nav class="collapse navbar-collapse navbar-right" role="navigation">
              <ul id="nav" class= "nav navbar-tabs">
                  <li><a href="#home-slider">Gala</a></li>
                  <li><a href="#about">Quests</a></li>
                  <li><a href="#studio">Studios</a></li>
                  <li><a href="#curriculum">Curriculum</a></li>
                  <li><a href="#price">Reviews</a></li>
                  <!--<li><a href="#contact">Contact</a></li>-->
                  
                  <!--<li><a href="Affiliate.html" class="btn btn-blue btn-effect">Launch Your Own Geekz</a></li>
                  <li><a href="https://thegeeksaffiliatewraptudio.wordpress.com/" target="_blank">Blog</a></li>-->
              </ul>
          </nav>  
  <!-- /main nav -->
      </div>

<div class="col-md-3 navbar-collapse"style="float:right;"><a href="#contact"  class="btn btn-blue-affiliatewrap btn-effect ">Apply</a></div></div></div>
  </header>
  <main class="site-content" role="main">
		
	<!--
	Home Slider
	==================================== -->
	<style>
		.navbar-nav {
			float:none;
			margin:0 auto;
			display: block;
			text-align: center;
		}

		.navbar-nav > li {
			display: inline-block;
			float:none;
		}
		.carousel-caption{
			top: 50%;
			transform: translateY(-50%);
			bottom: initial;
		}
		
		.carousel .item{
			height: 650px;
			width: 100%;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}
		.item img{
			position: absolute;
			top: 0;
			left: 0;
			min-height: 650px;
			width:100%
		}
		.caption {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50% );
				text-align: center;
				color: white;
				font-weight: bold;
			}
	</style>
	<div class="container-fluid" style="width: 100%;padding-right: 0px;padding-left: 0px;">			
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;" >
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		  </ol>
	  
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner"style="width:100%;">
	  
			<div class="item active">
			  <img src="/schoolasaservice/media/{{m.BANNER1}}"  class="img-responsive" alt="Los Angeles" style="width:100%;filter:brightness(40%);">
			  <div class="carousel-caption caption-content caption" style="width:100%;">
				<h2 class="animated fadeInDown"><b style="color:#FF0000">Geekz </b>Microschool</h2>
				<span class="animated fadeInDown">Your School |<b style="color:#FF0000"> To Learn Life At Your Own Pace</b></span>
				<a href="#contact" class="btn btn-blue btn-effect">{{m.LOCALITY}}</a>
			  </div>
			</div>
			<div class="item">
			  <img src="/schoolasaservice/media/{{m.BANNER2}}" alt="Chicago" style="width:100%;filter:brightness(40%);">
			  <div class="carousel-caption caption-content caption" style="width:100%;">
				<h2 class="animated fadeInDown"><b style="color:#FF0000">Geekz </b>Microschool</h2>
				<span class="animated fadeInDown">Your School |<b style="color:#FF0000"> To Learn Life At Your Own Pace</b></span>
				<a href="#contact" class="btn btn-blue btn-effect">{{m.LOCALITY}}</a>
			  </div>
			</div>
			<div class="item">
			  <img src="/schoolasaservice/media/{{m.BANNER3}}" alt="New York" style="width:100%;filter:brightness(40%);">
			  <div class="carousel-caption caption-content caption" style="width:100%;">
				<h2 class="animated fadeInDown"><b style="color:#FF0000">Geekz </b>Microschool</h2>
				<span class="animated fadeInDown">Your School |<b style="color:#FF0000"> To Learn Life At Your Own Pace</b></span>
				<a href="#contact" class="btn btn-blue btn-effect">{{m.LOCALITY}}</a>
			  </div>
			</div>
			<div class="item">
				<img src="/schoolasaservice/media/{{m.BANNER4}}" alt="New York" style="width:100%;filter:brightness(40%);">
				<div class="carousel-caption caption-content caption" style="width:100%;">
					<h2 class="animated fadeInDown"><b style="color:#FF0000">Geekz </b>Microschool</h2>
					<span class="animated fadeInDown">Your School |<b style="color:#FF0000"> To Learn Life At Your Own Pace</b></span>
					<a href="#contact" class="btn btn-blue btn-effect">{{m.LOCALITY}}</a>
				  </div>
			</div>
		
		  </div>
	  
		  <!-- Left and right controls -->
		  
		</div>
	  </div>
	<!--
	End Home SliderEnd
	==================================== -->
	
		<!-- School Amenities section -->
		<section id="about" >
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow animated fadeInLeft">
						<div class="recent-works">
							<h3>Amenities</h3>
							<br>
							<div id="works">
								<div class="work-item" style="text-align:justify;">
									<p style="font-size:21px;"><i class="fa fa-university fa-x"></i>&emsp;Spacious Studio</p><br>
									<p style="font-size:21px;"><i class="fa fa-futbol-o fa-x"></i>&emsp;Outdoor Play & Lawn</p><br>
									<p style="font-size:21px;"><i class="fa fa-bus fa-x"></i>&emsp;Commute</p><br>
									<p style="font-size:21px;"><i class="fa fa-wifi fa-x"></i>&emsp;Wifi</p><br>
									<p style="font-size:21px;"><i class="fa fa-video-camera fa-x"></i>&emsp;CCTV</p>
								</div>
								<div class="work-item" style="text-align:justify;">
									<p style="font-size:21px;"><i class="fa fa-tablet fa-x"></i>&emsp;<del>Device</del></p><br>
									<p style="font-size:21px;"><i class="fa fa-cutlery fa-x"></i>&emsp;<del>Food</del></p><br>
									<p style="font-size:21px;"><i class="fa fa-child fa-x"></i>&emsp;<del>Daycare</del></p><br>
									<p style="font-size:21px;"><i class="fa fa-bell fa-x"></i>&emsp;<del>After School</del></p><br>
									<p style="font-size:21px;"><i class="fa fa-home fa-x"></i>&emsp;<del>Residential</del></p>
								</div>
								
							</div>
							<br><br>
						</div>
					</div>
					
					<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
						<div>
							<h3 style="padding-bottom: 30px;">Real World Learning</h3>								
						  <div>
							 <img src="{% static 'img/flip.png' %} " style="height:auto;width:100%;max-width:400px;max-height:400px;display:block;margin:0 auto;padding-bottom: 30px;" alt="learning cycle">
						<!-- 	<button  data-dismiss="modal" class="btn1 close"><i style="color: rgba(0,158,227, 0.78);font-size:30px;"class="fa fa-play" aria-hidden="true"></i></button> -->
					   
						<a class="btn1"  href="https://www.youtube.com/embed/hj6iaKZSllg" data-lity><i style="color: rgba(0,158,227, 0.78);font-size:30px;" class="fa fa-play" aria-hidden="true"></i></a>
					   </div>	  
							  <br>
							   <a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ" target="_blank" class="btn btn-border btn-effect pull-right"style="float:left;">Quests</a>   
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<div class="modal fade custom-modal " id="video-pop" style="backdrop-filter: blur(5px);" style="width:100%;">
			<div class="modal-dialog modal-dialog-centered" >
				<div class="modal-content ">
					<div class="modal-body video-con">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<iframe width="100%" height="100%"   src="https://www.youtube.com/embed/hj6iaKZSllg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					  
					</div>
				</div>
			</div>
		</div>
		<style>
			
			.responsive-iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			}
			.video-con {
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px; 
				width:100%;
				height: 100%; 
				overflow: hidden;
			}

			.video-con iframe,
			.video-con object,
			.video-con embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
		/* Container needed to position the button. Adjust the width as needed */
				

				/* Make the image responsive */


				/* Style the button and place it in the middle of the container/image */
				.col-md-7 .btn1 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				color: white;
				font-size: 16px;
				padding: 12px 24px;
				border: none;
				cursor: pointer;
				border-radius: 5px;
				}

				.col-md-7 .btn1:hover {
				color: white;
				}
				

</style>				
			
			
		<!-- end school amenities section -->
		
		<!-- Studio section -->
		<section id="studio">
			<div class="container">
				<div class="row" style="height:450px;">
				
					<div class="sec-title text-center">
						<h2 class="wow animated bounceInLeft">Studios</h2>
						<p class="wow animated bounceInRight">School reimagined.</p>
					</div>
					
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 340px;">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-home fa-3x"></i>
							</div>
							<h3>Kindergarten</h3>
							<p align="justify">Kindergarten Studio is to empower kids aged up to 4.5. Geekz integrates real life scenarios in KS curriculum & simulate it in the studio as Quests with ZERO Screen Time, to learn life-skills. Our trans-disciplinary learning includes US & Australian Phonics, English Language Arts, Math, Art & Craft, Dance & Quest (STEM).</p>
						</div>
					</div>
				
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 340px;">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-child fa-3x"></i>
							</div>
							<h3>Lower Elementary</h3>
							<p align="justify">LE Studio is part of Elementary Studio to empower kids aged 4.5 to 07. Geekz integrates real world careers in ES curriculum & simulate it in the studio as Quests, to get kids ready for the world in 2040. Our trans-disciplinary learning includes Language Arts English, Spanish, Elective Hindi/Regional, Math, Civilization (History & Geo), Art & Craft, Dance & Quest (STEM).</p>
						</div>
					</div>
				
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 340px;">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-female fa-3x"></i>
							</div>
							<h3>Upper Elementary</h3>
							<p align="justify">UE Studio is to empower kids aged 07 to 10. As it is part of Elementary Studio, integrates real world careers such as Astronaut, Embedded Engineer, Aviator, Doctor, Film Maker, Entrepreneur etc. in custom designed ES (CBSE, ICSE, IB, Finland & US Common Core) trans-disciplinary curriculum and simulate it in the studio as Quests (STEM). LES & UES operates together as Elementary Studio (ES).</p>
						</div>
					</div>
				
				</div>
			</div>
			
<!--Sign up-->
		<br><br><div class="sec-title text-center">
			<a href="#contact" class="btn btn-blue btn-effect wow animated bounceInLeft">Apply Now</a>    
		</div>
		</section>
		</main>
</body>
<script src="http://code.jquery.com/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/app.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script async src="http://maps.google.com/maps/api/js?key=AIzaSyAhy_mC_xNa374iO1IAFuoioiNHYM9oYpw&sensor=false&callback=initialise"></script>
		
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
        <script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/individual_map.js' %}"></script>