{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Affiliate Your School | Geekz{% endblock title %}
{% block metadescription %}
    <meta name="description" content="Geekz Affiliation">
{% endblock metadescription %}
{% block metakeywords %}
    <meta name="keywords" content="SAAS, School As A Service, Franchise, Affiliation, Affiliate, international school, Montessori, Preschool, Play School, IB School, Kindergarten, Primary School, IGCSE, ICSE, CBSE, Alternative School, Next Generation School, Play Groups, American School, geekz, geeks, school, reimagined school, international, velachery, chennai, personalized, personalised, curriculum, self paced, learning, mastery, khan academy, duolingo, Microsoft, Program Manager, Micro school, microschool, micro-school, alternate school, education, schoology, india">
{% endblock metakeywords %}
{% block metaauthor %}
    <meta name="author" content="Geekz Microschool">
{% endblock metaauthor %}






{% block content %}
<main class="site-content" role="main">
		
    <!--
    Home Slider
    ==================================== -->
    
    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">
                
               <!-- <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                    
                    <div class="bg-img bg-img-4"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 style="color:#FF0000;">Air Pollution Awareness Art Contest</h2>
                            <span>Go Green. Breathe Clean.</span>
                            <a href="AirPollutionArtContest.html" target="_blank" class="btn btn-blue btn-effect">Enroll</a>
                        </div>
                    </div>

                </div> -->
                
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

                    <div class="bg-img bg-img-1">
                    </div>

                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 class="animated fadeInDown"><b style="color:#FF0000">School as</b> a Service</h2>
                            <span class="animated fadeInDown"><b style="color:#FF0000">Launch Your Own Microschool |</b> Double Your School Admissions</span>
                            {% if user.is_authenticated %}
                                <a href="/apply" class="btn btn-blue btn-effect">Become a Microschool</a>
                            {% else %}
                                <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Microschool</a>
                            {% endif %}

                            <!--login popup modal-->
                            <div id="loginms" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: white; width: 400px; height: 200px">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="text-align: center;">Log in</h4>
                                        </div>
        
                                        <div class="modal-body">
                                            <div class="input-field" style="width: 100%;">
                                                <a href="{% provider_login_url "google" %}" class="btn btn-blue-affiliatewrap btn-effect" style="width: 100%;">
                                                    <span>
                                                        <i class="fa fa-google"></i>
                                                    </span>
                                                    Continue with Google
                                                </a>
                                            </div>
                                            
                                            <div class="input-field" style="width: 100%; margin-top: 10px; text-align:center; color:black;">
                                                Don’t have an account?
                                                <a href data-dismiss="modal" data-toggle="modal" data-target="#signupms">Sign up</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end login popup modal-->

                            <!--start signup popup modal-->
                            <div id="signupms" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: white; width: 400px; height: 200px">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="text-align: center;">Sign up</h4>
                                        </div>
        
                                        <div class="modal-body">
                                            <div class="input-field" style="width: 100%;">
                                                <a href="{% provider_login_url "google" %}" class="btn btn-blue-affiliatewrap btn-effect" style="width: 100%;">
                                                    <span>
                                                        <i class="fa fa-google"></i>
                                                    </span>
                                                    Continue with Google
                                                </a>
                                            </div>
        
                                            <div class="input-field" style="width: 100%; margin-top: 10px; text-align:center; color:black;">
                                                Already have an account?
                                                <a href data-dismiss="modal" data-toggle="modal" data-target="#loginms">Log in</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end signup popup modal-->

                        </div>
                    </div>
                    
                </div>
                
            <!--	<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                
                    <div class="bg-img bg-img-1"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 style="color:#FF0000;">School As A Service (SAAS)</h2>
                            <span>We're accepting applications for the 2020-2021 school year in the following location:</span>
                            <a href="#admissions" class="btn btn-blue btn-effect">Velachery</a>
                        </div>
                    </div>
                    
                </div>
-->
            </div><!-- /sl-slider -->

            <!-- 
            <nav id="nav-arrows" class="nav-arrows">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>
            -->
            
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>
            

            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </section>
    
    <!--
    End Home SliderEnd
    ==================================== -->
        
        
        <!-- Why Affiliate section -->
        <section id="why">
            <div class="container">
                <div class="row" style="height:450px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Why Affiliate To Geekz?</h2>
                        <p class="wow animated bounceInRight">Launching your reimagined school made simple.</p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-university fa-3x"></i>
                            </div>
                            <h3>MICROSCHOOL</h3>
                            <p align="justify">You have a dream to become Edupreneur & reimagine education? Launch your own successful Microschool brand with 5 to 7 students in your community,     from the comfort of your home or a rented space. Preschool founders can add Elementary Studio (Grade 1 to 5) to your existing school at zero investment. Retain kindergarteners till grade 5, double the admissions & increase your revenue by minimum of INR 25L.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-home fa-3x"></i>
                            </div>
                            <h3>KINDERGARTEN STUDIO</h3>
                            <p align="justify">KS is to empower kids aged up to 4.5. Geekz integrates real life scenarios in KS curriculum & simulate it in the studio as Quests with ZERO Screen Time, to learn life-skills. Our trans-disciplinary learning includes US & Australian Phonics, English Language Arts, Math, Art & Craft, Dance & Quest (STEM).</p>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 340px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-building fa-3x"></i>
                            </div>
                            <h3>ELEMENTARY STUDIO</h3>
                            <p align="justify">ES is to empower kids aged 4.5 to 10. Geekz integrates real world career in ES curriculum & simulate it in the studio as Quests, to get kids ready for the world in 2040. Our trans-disciplinary learning includes Language Arts English, Spanish, Elective Hindi/Tamil, Math, Civilization (History & Geo), Art & Craft, Dance & Quest (STEM).</p>
                        </div>
                    </div>
                
                </div>
            </div>
            
<!--Sign up-->
        <br><br><br><br><br><br><br><br><div class="sec-title text-center">
            <a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" class="btn btn-blue btn-effect wow animated bounceInLeft">Geekz Sample Quests</a>    
        </div>
        </section>
        <!-- end Why Affiliate section -->

        <!-- Price section -->

        <section id="price" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>How Much You Need To Invest?</h2>
                        <p>Zero investment. Zero affiliate fee. Zero listing fee.</p>
                    </div>
                    
                    <div class="col-md-6 wow animated fadeInUp">
                        <div class="price-table featured text-center">
                            <span>Kindergarten</span>
                            <div class="value">
                                <span><i class="fa fa-inr"></i></span>
                                <span>500</span><br>
                                <span>month</span>
                            </div>
                            <ul>
                                <li>Pay Per Kid</li>
                                <li>Pay On Enrollment</li>
                                <li>Billed Annually</li>
                                <li>Zero Upfront Cost</li>
                                <li>
                                    {% if user.is_authenticated %}
                                        <a href="/apply" style="background-color: inherit;">sign up</a>
                                    {% else %}
                                        <a href style="background-color: inherit;" data-toggle="modal" data-target="#loginms">sign up</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-6 wow animated fadeInUp" data-wow-delay="0.4s">
                        <div class="price-table text-center">
                            <span>Elementary</span>
                            <div class="value">
                                <span><i class="fa fa-inr"></i></span>
                                <span>500</span><br>
                                <span>month</span>
                            </div>
                            <ul>
                                <li>Pay Per Kid</li>
                                <li>Pay On Enrollment</li>
                                <li>Billed Annually</li>
                                <li>Zero Upfront Cost</li>
                                <li style="background-color: #DDDCD2;">
                                    {% if user.is_authenticated %}
                                        <a href="/apply" style="background-color: inherit; color:#434C45;">sign up</a>
                                    {% else %}
                                        <a href style="background-color: inherit; color:#434C45;" data-toggle="modal" data-target="#loginms">sign up</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
                        <div class="price-table featured text-center">
                            <span>Homeschooling</span>
                            <div class="value">
                                <span></span>
                                <span>Let's Talk</span><br>
                                <span></span>
                            </div>
                            <ul>
                                <li style="color:#FFFFFF;"> .</li>
                                <li style="color:#FFFFFF;">.</li>
                                <li style="color:#FFFFFF;">.</li>
                                <li style="color:#FFFFFF;">.</li>
                                <li><a href="/homeschool">sign up</a></li>
                            </ul>
                        </div>
                    </div>-->
    
                </div>
            </div>
        </section>

        <!-- end Price section -->
        
        <!-- Your School Your Rules section -->
        <section id="rules"  style="background-color:#ffffff;">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Your School, Your Rules!</h2>
                        <p>Unschooling the schooling.</p><br>
                        <p></p>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">Infrastructure</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>24,35</span><br>
-->
                                <span>No requirement on infrastructure as people will flock for great reimagined schools irrespective of location & property size.</span>
                            </div>
<!--
                            <ul>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">School Fee</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>50,00</span><br>
-->
                                <span>You always get to choose your school fee. Need help? Geekz can help you match demand in your area to decide.</span>
                            </div>
<!--
                            <ul>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s" style="height:250px;">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">Brand</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>123,12</span><br>
-->
                                <span>Build your successful Microschool brand with your very own dream Brand Name.</span>
                            </div>
<!--
                            <ul>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                                    
                </div>
            </div>
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/apply" class="btn btn-blue btn-effect">Become a Microschool</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Microschool</a>
                {% endif %}
            </div>
        </section>
        <!-- end Your School Your Rules section -->
        
        
        <!-- Service section -->
        <section id="service" style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">What Geekz Offer?</h2>
                        <p class="wow animated bounceInRight">School-as-a-service (SaaS) delivered on-demand.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-graduation-cap fa-3x"></i>
                            </div>
                            <h3>Curriculum</h3>
                            <p>Personalized curriculum for each individual's needs, learning styles, passions, skill levels & parental priorities.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-tablet fa-3x"></i>
                            </div>
                            <h3>EdTech</h3>
                            <p>Dynamic Education Technology (EdTech) platform providing LMS, Learning Apps, Analytics, Communication & Best Practices for efficient operations.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-newspaper-o fa-3x"></i>
                            </div>
                            <h3>Free Listing</h3>
                            <p>We will list your school's webpage on Geekz without signup charges. You need not even create your website, we got your back!</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-group fa-3x"></i>
                            </div>
                            
                            <h3>Admissions</h3>
                            <p>Guaranteed admissions through Geekz EdTech platform with year-on-year growth, making you a successful Microschool brand in your community.</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            
<!--Second set of offers for the school-->
            <div class="container">
                <div class="row" style="height:320px;">
                
<!--
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                        <p class="wow animated bounceInRight">Education re-imagined.</p>
                    </div>
-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-bullhorn fa-3x"></i>
                            </div>
                            <h3>Marketing</h3>
                            <p>Leverage Geekz community & zero-cost marketing strategies to drive admissions.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-phone-square fa-3x"></i>
                            </div>
                            <h3>360-Degree Guidance</h3>
                            <p>Geekz community always has your back from pre-launch to building your successful Microschool brand. You'll find a robust help center, support & expert guidance.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-eye-slash fa-3x"></i>
                            </div>
                            <h3>Zero Dependency</h3>
                            <p>Geekz model designed in a way to run your school with zero educator expertise. Any parent/person can run our program effieciently from Day 0.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-thumbs-up fa-3x"></i>
                            </div>
                            
                            <h3>Affiliation</h3>
                            <p>Internationally affiliated to US curriculum accepted across the globe.</p>							
                        </div>
                    </div>
                    
                </div>
                <br>
                
            </div>
            
        </section>
        <!-- end Service section -->
        
        
        

        <!-- Workflow section -->
        <section id="workflow">
            <div class="container">
                <div class="row" style="height:480px;">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">How It Works?</h2>
                        <p class="wow animated bounceInRight">Schooling made simple.<br></p>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"  style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>List Your School</h3>
                            <p>Get affiliated to be listed on Geekz website.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>Set Your School Fee</h3>
                            <p>You get to determine your school fee, and Geekz can help you decide.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>Receive Applications</h3>
                            <p>Once your listing is live, student families can search your school on Geekz website & Apply.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            
                            <h3>Choose Your Geek</h3>
                            <p>Review the application, initial profile & on your approval, students will enroll by paying the fee through Geekz portal.</p>							
                        </div>
                    </div>
                    
                </div>
            </div>
            
<!--Second set of Process for the school-->
            <div class="container">
                <div class="row" style="height:320px;">
                
<!--
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Geekz Edu Model</h2>
                        <p class="wow animated bounceInRight">Education re-imagined.</p>
                    </div>
-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            
                            <h3>Pay Subscription</h3>
                            <p>Geekz generally charges a fixed cost per enrollment on schools & 5-10% on students for learning app subscriptions, the lowest fees in the industry.</p>							
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>School Setup</h3>
                            <p>Once a student enrolls, we will transfer your money immediately, setup your school account & add student on our learning platform.</p>
                        </div>
                    </div>
                
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-long-arrow-right fa-3x"></i>
                            </div>
                            <h3>Empower Educators</h3>
                            <p>Geekz curate personalized list of lesson plans for each student to learn, track & asses, and empower educators to guide students than being content deliverers.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s" style="height: 280px;">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-flag-checkered fa-3x"></i>
                            </div>
                            <h3>Successful Dream School</h3>
                            <p>We've got you covered from launch to administrative overhead to curriculum. You simply run your school & build successful Microschool brand!</p>
                        </div>
                    </div>
                    
                </div>
                <br>
                
            </div>
            
        </section>
        <!-- end Workflow section -->


        <!-- Social section -->
        <section id="social" class="parallax">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                    
                        <div class="sec-title text-center white wow animated fadeInDown">
                            <h2>FOLLOW US</h2>
                            <p>Dream with us and make dreams a reality.</p>
                        </div>
<!--                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FVrGeekz%2F%3Ffref%3Dts&width=20&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="200" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
                        
                        <ul class="social-button">
                            <li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" style="background-color: inherit; color:white;" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com/VrGeekz/" target="_blank" style="background-color: inherit; color:white;"><i class="fa fa-instagram fa-2x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" style="background-color: inherit; color:white;"><i class="fa fa-youtube-play fa-2x"></i></a></li>							
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- end Social section -->
        

        <!-- Your Process section -->
        <section id="process"  style="background-color:#f8f8f8;">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Affiliating In 3 Steps</h2>
                        <p>World's fastest affiliation for free.</p><br>
                        <p></p>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp">
                        
                        <div class="price-table featured text-center">
                            
                            <span style="height:85px;">1. Start Your Journey</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>24,35</span><br>
-->
                                <span>Sign up to affiliate & list on Geekz, from Homeschooling to K-12 School & everything in-between.</span>
                            </div>
<!--
                            <ul>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li>No Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.3s">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">2. Geekz Audition</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>50,00</span><br>
-->
                                <span>Geekz will reach you quickly to audition.</span>
                            </div>
<!--
                            <ul>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li>Free Trial</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                    <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.6s" style="height:250px;">
                        <div class="price-table featured text-center">
                            <span style="height:85px;">3. Welcome Your First Geek!</span>
                            <div class="value" style="height:145px;">
<!--
                                <span>$</span>
                                <span>123,12</span><br>
-->
                                <span>Once your listing is live, students can reach out & enroll.</span>
                            </div>
<!--
                            <ul>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li>All Bonus Points</li>
                                <li><a href="#">sign up</a></li>
                            </ul>
-->
                        </div>
                    </div>
                    
                                            
                </div>
                
            </div>
            <div class="sec-title text-center">
                {% if user.is_authenticated %}
                    <a href="/apply" class="btn btn-blue btn-effect">Become a Microschool</a>
                {% else %}
                    <a href class="btn btn-blue btn-effect" data-toggle="modal" data-target="#loginms">Become a Microschool</a>
                {% endif %}
            </div>
        </section>
        <!-- end Process section -->
        
       
        <!-- FAQ section -->
<!--
        <section id="service">
            <div class="container">
                <div class="row">
                
                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">FAQ</h2>
                        <p class="wow animated bounceInRight"><b>Is Financial Aid Available?</b></p>
                        <p class="wow animated bounceInRight">Need-based scholarship assistance is available, and we are happy to discuss in more detail during the admissions process. Geekz wants to provide access to an excellent child-centered education to as many students as possible and believes that all children benefit from being part of a diverse community.</p><br>
                        <p class="wow animated bounceInLeft"><b>What Is A Microschool?</b></p>
                        <p class="wow animated bounceInLeft">Microschools are small by design with few dozen students, multi-age learn together in a classroom, educators act more as guides than lecturers. There's a heavy emphasis on digital and project-based learning, and education is highly personalized.</p><br>
                        <p class="wow animated bounceInRight"><b>What Grade Levels Are Offered?</b></p>
                        <p class="wow animated bounceInRight">We offer Pre-Kindergarten through 5th grade. We will continue to build the school up through 12th grade in subsequent years. There are mixed-age classrooms with 2-3 year age bands.</p><br>
                        <p class="wow animated bounceInLeft"><b>Is Geekz A Montessori School?</b></p>
                        <p class="wow animated bounceInLeft">We respect and incorporate Maria Montessori’s philosophy but, we are not a Montessori school. We use US curriculum for core standards and Chicago's 1919 Winnetka education model for a personalized social-emotional learning.</p><br>
                        <p class="wow animated bounceInRight"><b>May I Visit Campus Or Get a Tour?</b></p>
                        <p class="wow animated bounceInRight">Yes. We offer tours, open houses and buddy programs. Please refer ADMISSIONS section for more info.</p><br>
                        <p class="wow animated bounceInLeft"><b>What Are School Hours?</b></p>
                        <p class="wow animated bounceInLeft">We understand that flexibility is important for families. Families can drop off their children at school anytime between 9:00 am and 9:30 am. The school day ends at 3.00 pm.</p><br>
                        <p class="wow animated bounceInRight"><b>How Are Allergies & Safety Handled?</b></p>
                        <p class="wow animated bounceInRight">Geekz is an Allergy Aware school. Educators and our Safety Team members work closely with families to develop personalized safety plans for each student and their specific allergies. Although we do not ban specific foods or nuts from our campuses, we have a clear protocol to protect students with food allergies and health concerns at our schools..</p><br>
                    </div>
                </div>
            </div>
        </section>
-->  
<!-- end FAQ section -->
      
        
        
        
        
        <!-- Affiliate section -->
        <!--<section id="contact" >
            <div class="container">
                <div class="row">
                    
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Start Your Geekz Journey!</h2>
                        <p>Get affiliated. Welcome your first geek.</p>
                    </div>
                    
                    
                    <div class="col-md-7 contact-form wow animated fadeInLeft">
                        <p id="geekzsignup"></p>
                        <form id="signup" action="javascript:postAffiliateToGoogle()" method="post">
                            <h3><b>Affiliate Information</b></h3>
                            <div class="input-field">
                                <select id="IAm" class="form-control" required>
                                    <option selected disabled>I Am...</option>
                                    <option>Playschool</option>
                                    <option>K-5 School</option>
                                    <option>K-12 School</option>
                                    <option>Entrepreneur</option>
                                    <option>Parent</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <select id="LoveTo" class="form-control" required>
                                    <option selected disabled>Love To Affiliate...</option>
                                    <option>Elementary</option>
                                    <option>Microschool</option>
                                    <option>Homeschool</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <input type="text" id="City" class="form-control" placeholder="School Area & City..." required>
                            </div>
                            <div class="input-field">
                                <input type="text" id="AcademicYear" class="form-control" placeholder="School Website (No Website? Type 'Not Applicable')..." required>
                            </div>
                            <div class="input-field">
                                <input type="url" id="Studio" class="form-control" placeholder="School Facebook/Founder LinkedIn..." required>
                            </div>
                            <br>
                            <h3><b>Personal Information</b></h3>
                            <div class="input-field">
                                <input type="text" id="FullName" class="form-control" placeholder="Your Name..." required>
                            </div>
                            <div class="input-field">
                                <input type="text" id="Occupation" class="form-control" placeholder="Occupation..." required>
                            </div>
                            <div class="input-field">
                                <input type="email" id="AffiliateEmail" class="form-control" placeholder="Email..." required>
                            </div>
                            <div class="input-field">
                                <input type="number" id="AffiliatePhone" class="form-control" placeholder="Phone..." required>
                            </div>
                            <div class="input-field">
                                <select id="Branding" class="form-control" required>
                                    <option selected disabled>How Did You Hear About Geekz...</option>
                                    <option>Facebook</option>
                                    <option>Twitter</option>
                                    <option>Youtube</option>
                                    <option>Previous School Students/Families</option>
                                    <option>Geekz Students/Families</option>
                                    <option>Friend/Acquaintance</option>
                                    <option>Geekz Website</option>
                                    <option>Web Search</option>
                                    <option>Print Ad</option>
                                    <option>News Article</option>
                                </select>
                            </div>
                               <div class="input-field">
                                <textarea id="MoreInfo" class="form-control" placeholder="Why Do You Want To Affiliate With Geekz..." required></textarea>
                            </div>
                            <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                        </form>
                    </div>
                    
                    <div class="col-md-5 wow animated fadeInRight">
                        <address class="contact-details">
                            <h3>Contact Us</h3>						
<!--								<p><i class="fa fa-pencil"></i>Phoenix Inc.<span>PO Box 345678</span> <span>Little Lonsdale St, Melbourne </span><span>Australia</span></p><br>-->
                           <!-- <p><i class="fa fa-pencil"></i>Door No 21 Plot No 196<span>4th Street Murugu Nagar</span><span>Velachery Chennai</span></p><br>
                            <p><i class="fa fa-phone"></i>Phone: +91 98842 GEEKZ<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 98842 43359</span></p>
                            <p><i class="fa fa-envelope"></i>hello@geekz.school</p>
                        </address>
                    </div>
        
                </div>
            </div>
        </section>-->
        <!-- end Affiliate section -->
        
        
    
    </main>

{% endblock content %}

{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                
                <div class="footer-social">
                    <ul>
                        <style>
                            .footer-social ul li a:hover {
                                color: white;
                            }
                        </style>
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/VrGeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-facebook fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com/vrgeekz/" target="_blank" style="background-color: inherit;"><i class="fa fa-instagram fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/channel/UCNy54QG09WBP7ZU8eOSRntQ/videos" target="_blank" style="background-color: inherit;"><i class="fa fa-youtube-play fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://twitter.com/VrGeekz" target="_blank" style="background-color: inherit;"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <!-- <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://thegeekstudio.wordpress.com/" target="_blank" style="background-color: inherit;"><i class="fa fa-rss fa-3x"></i></a></li> -->
                    </ul>
                </div>
                
                <p>Copyright &copy; 2020 by Geekz. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}