{% load socialaccount %}
{% providers_media_js %}

<div>
    <form action="/signup_" method="POST">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="Enter First Name" required />
        <input type="text" name="lastname" placeholder="Enter Last Name" required />
        <input type="email" name="email" placeholder="Enter Email Address" required />
        <input type="password" name="password" placeholder="Enter Password" required />
        <input type="submit" value="Sign up" />
    </form>
</div>
----OR-----
<div>
    <a href="{% provider_login_url "google" %}" class="btn btn-primary btn-lg btn-block login-btn">Sign up with google</a>
    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary btn-lg btn-block login-btn">Sign up with facebook</a>
</div>